
/****flex布局*****/
.flex {
  display: flex;
}
.flex-justifyContent-between {
  justify-content: space-between;
}



/******字体颜色*********/
.color-white {
  color: #fff;
}
.color-gray {
  color: #a9acae;
}
