
/****flex布局*****/
.flex {
  display: flex;
}
.flex-justifyContent-between {
  justify-content: space-between;
}



/******字体颜色*********/
.color-white {
  color: #fff;
}
.color-gray {
  color: #a9acae;
}

/********对齐方式*************/
.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}