@import "base";
/****flex布局*****/
.flex {
  display: flex;
}
.flex-justifyContent-between {
  justify-content: space-between;
}



/******字体颜色*********/
.color-white {
  color: #fff;
}
.color-gray {
  color: #a9acae;
}

/********对齐方式*************/
.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}

/******表格样式**********/
.el-table {
  tr {
    background-color: transparent !important;
  }
  th {
    background-color: transparent !important;
    color: white;
  }
}

.el-table__header-wrapper {
  background: $baseColor3;
  background-image: linear-gradient(120deg, $baseColor3 10%, $baseColor-cyan 80%);
  background-size: 100% 100%;
}
